astro-prospector==1.2.0
astro-sedpy==0.3.2
astropy==6.0.0
astropy-iers-data==0.2024.2.12.0.31.0
asttokens==2.4.1
attrs==23.2.0
certifi==2024.2.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
comm==0.2.1
contourpy==1.2.0
cycler==0.12.1
decorator==5.1.1
dust_attenuation @ git+https://github.com/karllark/dust_attenuation.git@da48969d6636a37a7520d6390baba56fa93c4dfa
dust_extinction==1.3
eazy==0.6.8
executing==2.0.1
fiona==1.9.5
fonttools==4.48.1
fsps==0.4.6
geopandas==0.14.3
h5py==3.10.0
ipython==8.21.0
ipywidgets==8.1.2
jedi==0.19.1
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
matplotlib==3.8.2
matplotlib-inline==0.1.6
numpy==1.26.4
packaging==23.2
pandas==2.2.0
parso==0.8.3
PeakUtils==1.3.4
pexpect==4.9.0
pillow==10.2.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pyerfa==2.0.1.1
Pygments==2.17.2
pyparsing==3.1.1
pyproj==3.6.1
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
scipy==1.12.0
setuptools==69.1.0
shapely==2.0.2
six==1.16.0
stack-data==0.6.3
tqdm==4.66.2
traitlets==5.14.1
tzdata==2024.1
wcwidth==0.2.13
widgetsnbextension==4.0.10
